amqp==5.2.0
ansi2html==1.9.1
arabic-reshaper==3.0.0
asgiref==3.8.1
asn1crypto==1.5.1
async-timeout==4.0.3
atomicwrites==1.4.1
attrs==23.1.0
billiard==3.6.4.0
blinker==1.7.0
Brotli==1.1.0
celery==5.2.7
certifi==2023.11.17
cffi==1.17.0
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
cryptography==43.0.0
cssselect2==0.7.0
dash==2.14.2
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-mantine-components==0.12.0
dash-table==5.0.0
dash-tools==1.12.0
Deprecated==1.2.14
distlib==0.3.8
Django==4.1.13
django-localflavor==3.1
django-parler==2.3
django-rosetta==0.9.8
django-wkhtmltopdf==3.4.0
dnspython==2.6.1
docopt==0.6.2
eventlet==0.36.1
filelock==3.13.1
Flask==3.0.0
fonttools==4.53.1
gobject==0.1.0
greenlet==3.0.3
gunicorn==21.2.0
html5lib==1.1
identify==2.5.33
idna==3.6
importlib-metadata==7.0.1
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
kombu==5.3.7
lxml==5.3.0
MarkupSafe==2.1.3
nest-asyncio==1.5.8
nodeenv==1.8.0
numpy==1.26.0
opencv-python==4.8.1.78
oscrypto==1.3.0
packaging==21.3
pandas==2.1.1
pango==0.0.1
pdfkit==1.0.0
Pillow==9.2.0
pipreqs==0.4.12
platformdirs==4.1.0
plotly==5.18.0
pluggy==1.3.0
polib==1.2.0
pre-commit==2.16.0
prompt_toolkit==3.0.47
py==1.11.0
pycparser==2.22
pydyf==0.11.0
pyHanko==0.25.1
pyhanko-certvalidator==0.26.3
pyobject==1.2.4
pyparsing==3.1.1
pypdf==4.3.1
pyphen==0.16.0
pypng==0.20220715.0
pytest==6.2.5
python-bidi==0.6.0
python-dateutil==2.8.2
python-stdnum==1.20
pytz==2023.3.post1
PyYAML==6.0.1
pyzbar==0.1.9
qrcode==7.4.2
redis==4.3.4
reportlab==4.2.2
requests==2.31.0
retrying==1.3.4
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.8
six==1.16.0
sqlparse==0.5.1
stripe==4.0.2
svglib==1.5.1
tenacity==8.2.3
termcolor==1.1.0
tinycss2==1.3.0
toml==0.10.2
typing_extensions==4.9.0
tzdata==2023.3
tzlocal==5.2
uritools==4.0.3
urllib3==2.1.0
vine==5.1.0
virtualenv==20.25.0
visdcc==0.0.50
wcwidth==0.2.13
weasyprint==62.3
webencodings==0.5.1
Werkzeug==3.0.1
wrapt==1.16.0
xhtml2pdf==0.2.16
yarg==0.1.9
yolk3k==0.9
zipp==3.17.0
zopfli==0.2.3
